<%- include('partials/header') %>

<div>
    <p>Bienvenue sur votre profil !</p>
    <div>
        Email : <%=locals.login.email%><br />
        Firstname : <%=locals.login.firstname%> <br />
        Lastname : <%=locals.login.lastname%>
    </div>
</div>

<%- include('partials/footer') %>