<%- include ('./partials/header.ejs') %>
<section class="quiz-container">
  <h1 class="header__title"><%= quiz.title %></h1>
  <form action="/quiz/<%= quiz.id %>?page=<%= page %>" method="post" id="form">
    <% for (const question of quiz.questions) { %>

    <div class="question-container">
      <span class="question-span"><%= question.question %></span>
      <div class="answer-container">
        <% for (const answer of question.answers) {%>
        <div class="answer">
          <input
            class="input-radio"
            type="radio"
            name="question-<%= question.id %>"
            id="answer-<%= question.id %>-<%= answer.id %>"
            value="<%= answer.id %>"
          /><label for="answer-<%= question.id %>-<%= answer.id %>">
            <%= answer.description %></label
          >
        </div>
        <% } %>
      </div>
    </div>

    <% } %><% if (page < 10) { %>
    <button class="quiz-button">Suivant</button>

    <% } else { %>
    <button type="submit" class="quiz-button">Vous avez terminé</button>
    <% } %>
  </form>
</section>
<%- include ('./partials/footer.ejs') %>
